body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: white;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: green;
      font-size: 50px;
  }
  .logo {
      color: green;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: green;
  }
  .carousel-indicators li {
      border-color: green;
  }
  .carousel-indicators li.active {
      background-color: green;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid green; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid green;
      background-color: #fff !important;
      color: green;
  }
  .panel-heading {
      color: #fff !important;
      background-color: green !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: green;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color:rgba(31, 61, 71, 1);
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: rgba(87, 193, 177, 1) !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: green;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("images/smart home 2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

/* About Us page styles */

.bg1 {
    /* The image used */
    background-image: url("images/equip.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}
.bg2 {
    /* The image used */
    background-image: url("images/interior.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}


.bg3 {
    /* The image used */
    background-image: url("images/exterior.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.equipBody{
	 position: absolute;
     top: 900px;
     left: 10%; 
	 height: 400px;
     width: 550px;
	 border-radius: 35px;
	 background: rgba(87, 193, 177, 1);
	 color:rgba(31, 61, 71, 1);
     padding: 20px; 
}




@media screen and (max-width:1400px) {
	.equipBody{
	 position: absolute;
     top: 810px;
	 height: 200px;
     width: 375px;
	 border-radius: 35px;
	 background: rgba(87, 193, 177, 1);
	 color:rgba(31, 61, 71, 1);
     padding: 20px; 
	 font-size:10px;
	}
}

.equipVision{
	 position: absolute;
    top: 900px;
    left: 50%;
    width: 560px;
    height: 225px; 
	background-color:rgba(31, 61, 71, 1);
	color:rgba(87, 193, 177, 1);
	border-radius: 25px;
}

@media screen and (max-width:1400px) {
	.equipVision{
	position: absolute;
    top: 1018px;
    width: 375px;
    height: 150px; 
	background-color:rgba(31, 61, 71, 1);
	color:rgba(87, 193, 177, 1);
	border-radius: 25px;
	 font-size:10px;
	}
}

.equipMission{
	 position: absolute;
    top: 1150px;
    left: 50%;
    width: 560px;
    height: 150px; 
    background-color:rgba(87, 193, 177, 1);
	color:rgba(31, 61, 71, 1);
	border-radius: 25px;
}

@media screen and (max-width:1400px) {
	.equipMission{
	position: absolute;
    top: 1175px;
    width: 375px;
    height: 100px; 
    background-color:rgba(87, 193, 177, 1);
	color:rgba(31, 61, 71, 1);
	border-radius: 25px;
	font-size:10px;
	}
}
.textSize{
	font-size:30px;
}
@media screen and (max-width:1400px) {
	.textSize{
			font-size:15px;
			text-align: center;
  }
}
.locationHeading{
	margin-left: 10%; 
}
@media screen and (max-width:480px) {
.locationHeading{
	margin-left:19%;
}
}
/*ends here */

.bgMission {
    /* The image used */
    background-image: url("images/4.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}
.myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  
  padding: 10px 24px;
}

.myBtn:hover {
  background-color: #555;
}
.a:hover {
	display : autoCurtain;
}
.blockAlgnmnt{
	margin-left:50%;
}
@media screen and (max-width:480px) {
	.blockAlgnmnt{
	margin-left:0%;
	}
}
.blockText{
	padding-left: 290px;
}
@media screen and (max-width:480px) {
	.blockText{
	padding-left: 20px;
}
}

.blockStyle{
	height:150px;
	width:555px;
	padding-top: 10px; padding-bottom: 10px; padding-left: 0px;
}
@media screen and (max-width:480px) {
	.blockStyle{
	height:100px;
	width:555px;
}
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(1,1,1, 1);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.equipMain{
	content:url("images/main.png");
	position: absolute;
    top: 220px;
    left: 50px;
    width: 300px;
    height: 100px; 
	
}
@media screen and (max-width:480px) {
	.equipMain{
		content:url("images/main_white.png");
	position: absolute;
    top: 220px;
    left: 50px;
    width: 300px;
    height: 100px; 
}
}
.headingText1{
	color:white;
	font-size:38px;
	font-family:'Aileron';
	font-weight:400;
	text-transform:none!important;
		src: local('Aileron' ), url('dist/fonts/Aileron.woff') format('woff');
}
.headingText2{
	color:white;
	font-size:28px;
	font-family:'Aileron';
	font-weight:300;
	text-transform:none!important;
	src: local('Aileron' ), url('dist/fonts/Aileron.woff') format('woff');
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.autoCurtain {
	position: absolute;
    top :213%;
   left:50%;
   color:white;
  
}
.fa {
  padding: 8px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}



.fa-instagram {
  background: #f40083;
  color: white;
}

/* Base styling*/
/* Popover styling */

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -150px;
    transform: translate(0,10px);
    background-color:null;
    padding: 1.5rem;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.26);
    width: auto;
}